// Import node modules
@import "~react-toastify/dist/ReactToastify.css";

@import "~ol/ol";

@import "~perfect-scrollbar/css/perfect-scrollbar";

@import '~react-perfect-scrollbar/dist/css/styles.css';

// Import styles for custom components
@import "styles/map";

// BPMN diagram styles
@import "~bpmn-js/dist/assets/diagram-js.css";
@import "~bpmn-js/dist/assets/bpmn-font/css/bpmn.css";

// Custom styles
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.MuiAutocomplete-inputRoot {
  min-height: 39px !important;
}

// BPMN diagrams

.bpmn-execution {
  font-weight: 700;
  background: #1976D2;
  color: #ffffff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
}

.bpmn-incident {
  font-weight: 700;
  background: #D32F2F;
  color: #ffffff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
}

.bpmn-task-completed {
  font-weight: 700;
  background: #388E3C;
  color: #ffffff;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  text-align: center;
  line-height: 24px;
}

.bpmn-icon {
  position: absolute;
  left: 5px;
  top: 3px;
}